// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(245, 245, 245);

$color-grey-dark-0: rgb(226, 226, 226);
$color-grey-dark-1: rgb(189, 188, 188);
$color-grey-dark-2: rgb(121, 121, 121);
$color-grey-dark-3: rgb(87, 87, 87);
$color-grey-dark-4: rgb(43, 43, 43);

$color-white: #fff;
$color-black: #000;
$color-blue: #007ced;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;
